<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Federazione_Sportiva</title>
	<link rel="stylesheet" href="/css/admin_home.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">
</head>

<div class="pos-f-t">
	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
			<h4 class="text-white">Federazione sportiva</h4>
			<li><a class="text-home" aria-current="page" href="/">Home</a></li>
			<li><a class="text-home" aria-current="page" href="/admin/formNewSquadra">Aggiungi squadra</a></li>
			<li><a class="text-home" aria-current="page" href="/admin/formNewPresidente">Aggiungi presidente</a></li>
			<li><a class="text-home" aria-current="page" href="/admin/elenco_squadre">Elenco delle squadre</a></li>
			<li><a class="text-home" aria-current="page" href="/admin/presidenti">Elenco dei presidenti</a></li>
			<li><a class="text-home" aria-current="page" href="/logout">Log-out</a></li>
		</div>
	</div>
	<nav class="navbar navbar-dark" style="color: black">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</div>

<body>
	<div class="main-container">
		<div class="container-main-scroller">
			<div class="media-scroller snaps-inline">
				<div class="card" th:each="squadra: ${squadre}">
					<div class="card-body">
						<h5 class="card-title" th:text="${squadra.nome}" style="color: black; font-family: 'Chakra Petch';">Nome squadra</h5>
						<h6 style="color: black; font-family: 'Chakra Petch';">Anno fondazione:</h6>
						<p class="card-text" th:text="${squadra.annoFondazione}" style="color: black; font-family: 'Chakra Petch';">anno fondazione</p>
						<div class="card-button">
							<a th:href="@{'/admin/formModificaSquadra/' + ${squadra.id}}" class="btn btn-warning" id="link-btn" style="color: black;font-family: 'Chakra Petch';line-height: 8.5px;"> modifica</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>