<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Federazione_Sportiva</title>
	<link rel="stylesheet" href="/css/squadre.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">
</head>
<div class="pos-f-t">
	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
			<h4 class="text-white">Federazione sportiva</h4>
			<li><a class="text-home" aria-current="page" href="/squadre">Home</a></li>
			<li><a class="text-home" aria-current="page" href="/admin/formNewSquadra">Aggiungi squadra</a></li>
			
		</div>
	</div>
	<nav class="navbar navbar-dark" style="color: black">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</div>
<body>
	<div class="main-container">
		<h1 style="color: #FFD700; font-family: 'Chakra Petch';">
			Elenco delle squadre : 
		</h1>
		<div class="container-main-scroller">
			<table class="squadre-table">
				<thead>
					<tr>
						<th style="color: #E5E5E5; font-family: 'Chakra Petch';">Nome</th>
						<th style="color: #E5E5E5; font-family: 'Chakra Petch';">Anno di fondazione</th>
						<th style="color: #E5E5E5; font-family: 'Chakra Petch';">Indirizzo sede</th>
						<th style="color: #E5E5E5; font-family: 'Chakra Petch';">Presidente</th>
						<th style="color: #E5E5E5; font-family: 'Chakra Petch';">Giocatori</th>
						<th style="color: #E5E5E5; font-family: 'Chakra Petch';">Elimina</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="squadra: ${squadre}">
						<td th:text="${squadra.nome}" style="color: #E5E5E5; font-family: 'Chakra Petch';">Nome squadra</td>
						<td th:text="${squadra.annoFondazione}" style="color: #E5E5E5; font-family: 'Chakra Petch';">Anno di fondazione</td>
						<td th:text="${squadra.indirizzoSede}" style="color: #E5E5E5; font-family: 'Chakra Petch';">Indirizzo sede</td>
						<td th:if="${squadra.presidente}" th:text="${squadra.presidente.nome} + ' ' + ${squadra.presidente.cognome}" style="color: #E5E5E5; font-family: 'Chakra Petch';">Presidente</td>	
						<td th:unless="${squadra.presidente}">Nessun Presidente</td>			
						<td>
							<a th:href="@{'/admin/squadra/' + ${squadra.id} + '/giocatori'}" style="color: #E5E5E5; font-family: 'Chakra Petch';">Giocatori</a>
						</td>
					<td>
							<a th:href="@{'/admin/rimuoviSquadra/' + ${squadra.id}}" class="btn"
								id="link-btn" style="color: #E5E5E5; font-family: 'Chakra Petch';">Elimina</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>