<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Federazione_Sportiva</title>
	<link rel="stylesheet" href="/css/squadra_personale.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">
</head>

<div class="pos-f-t">
	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
			<h4 class="text-white">Federazione sportiva</h4>
			<li><a class="text-home" aria-current="page" href="/president/president_home">Home</a></li>
			<li><a class="text-home" aria-current="page" href="/president/elenco_squadre">Dettagli delle squadre</a></li>
			<li><a class="text-home" aria-current="page" href="/president/formNewGiocatore">Aggiungi giocatore</a></li>
			<li><a class="text-home" aria-current="page" href="/logout">Logout</a></li>
		</div>
	</div>
	<nav class="navbar navbar-dark" style="color: black">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</div>

<body>
</body>
<div class="main-container">
		<div class="form-container">
			<div class="squadra_personale">
				<h1 style="color: white; font-family: 'Chakra Petch';" th:text="${squadra.nome}"> Nome della squadra</h1>
	
				<label style="color: white; font-family: 'Chakra Petch';">Anno Fondazione:</label>
				<h6 th:text="${squadra.annoFondazione}" class="input-text form-control"></h6>
				<label style="color: white; font-family: 'Chakra Petch';">Indirizzo sede:</label>
				<h6 th:text="${squadra.indirizzoSede}" class="input-text form-control"></h6>
				<label style="color: white; font-family: 'Chakra Petch';">Giocatori:</label>
				<div th:if="${!squadra.giocatori.isEmpty()}">
					<ul>
						<li th:each="g : ${squadra.giocatori}" style="color: white; font-family: 'Chakra Petch';">
						    <h6><span th:text="${g.nome}+' '+${g.cognome}"></span></h6>
						    <a th:href="@{'/president/rimuoviGiocatore/' + ${g.id}}" class="btn" style="color: white; font-family: 'Chakra Petch';">Elimina</a>
					    </li>
					</ul>
				</div>
				<div th:if="${squadra.giocatori.isEmpty()}">
					<h2>LA SQUADRA NON HA GIOCATORI!!</h2>
				</div>
			</div>
		</div>
</html>